@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/icon.scss";

button::after{
    border: none !important;
    // opacity: 0 !important;
} 

.loginBox{
    .header{font-size: 60px;padding-left: 70px;font-weight: 300;padding-top: 70px;}
    .phoneInpBox{width: 610px;height:130px;border-bottom: 1px solid #cccccd;margin: 50px auto 20px auto;
        .inputBox{width: 100%;height: 75px;margin-top: 27.5px;display: flex;align-items: center;
            .inputBoxL{display: flex;align-items: center;
                .Icon{width: 75px;display: block;line-height: 75px;}
            }
            .inputBoxR{flex: 2;height: 75px;
                .inputs{width: 100%;height: 75px !important;line-height: 75px;display: block;}
            }
        }
    }
    .tips{width: 610px;margin: 0 auto;font-size: 28px;}
    .getcode{height: 100px;border-radius: 100px;width: 610px;margin: 50px auto;text-align: center;line-height: 100px;color: white;}
    .weChatButton{width: 100px;height: 100px;border-radius: 50%;display: block;z-index: 1;background: rgba(0,0,0,0);padding:0;left:325px;position: fixed;bottom: 30px;
        .wechatIcon{width: 100px;height: 100px;}
    }

    // .buttons{background-color: #fbc504;color: white;width: 90%;height: 80px;line-height: 80px;text-align: center;border-radius: 5px;position: fixed;bottom: 30px;left:37.5px;font-size: 36px;border: none !important;}
}